h1{
  text-align: center;
}
form{
  width: 300px;
  margin: 30px auto;
  padding: 20px;
  border: 1px solid black;
}
.form-date.react-date-picker{
  display: block;
}
.final-result{
  margin-top: 20px;
}
.final-result label{
  font-weight: bold;
}
.final-result div{
  font-style: italic;
}